@using NakedObjects.Web.Mvc.Html
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @(Styles.Render("~/Content/css", "~/Content/themes/base/css", "~/Content/nakedobjectscss"))
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand" id="logo">AplombTechWMS</a>
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
                @(Html.MainMenus())
            </div>
        </div>
    </div>
    <header>
        <div class="content-wrapper">

        </div>

        <div class="no-home-path" style="display: none">@(Html.ActionLink("Home", "Index", "Home"))</div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - AplombTech BD.</p>
            </div>
        </div>
    </footer>
    @(Scripts.Render(
      "~/bundles/jquery",
      "~/bundles/bootstrap",
      "~/bundles/jqueryui",
      "~/bundles/jqueryval",
      "~/bundles/nakedobjectsajax"
    @*"~/bundles/jquerydatepicker" //Specifies UK date format!*@
      ))
    <script>
        function testFunc() {
            $(function () { $('#legend').jstree(); });
            $('#legend').on("changed.jstree", function (e, data) {

                zone1.setOptions({ strokeColor: 'green' });

                if ($('.jstree-clicked').text().trim()) {

                    var stationName = $('.jstree-clicked').text();
                    var depth = data.node.parents.length;
                    var node_id = data.node.id;

                    if (depth == 3) {
                        node_id = node_id.split("_")[1];

                        $.ajax({
                            type: "POST",
                            url: '/ZoneGoogleMap/GetOverViewDataOfPumpStation',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ pumpStationId: node_id }),
                            dataType: "json",
                            success: function (model) {
                                if (model.IsSuccess) {
                                    var contentString = '<h2>Overview</h2><hr/> <div >';
                                    //drawChart(z2marker, model.data, stationName);
                                    for (var key in model.Data) {
                                        if (model.Data.hasOwnProperty(key)) {
                                            var val = model.Data[key];
                                            if (val !== null) {
                                                contentString += '<h4>' + key + '</h4>' + ' <strong>' + model.Data[key] + ' </strong>';
                                            }

                                        }
                                    }
                                    drawChart(z2marker, contentString + '</div>');
                                }

                            },
                            error: function () { }
                        });
                    }

                    if (depth == 4) {
                        node_id = node_id.split("_")[1];


                        $.ajax({
                            type: "POST",
                            url: '/ZoneGoogleMap/GetSingleSensorStatus',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ sensorId: node_id }),
                            dataType: "json",
                            success: function (model) {
                                if (model.IsSuccess) {

                                    //drawChart(z2marker, model.data, stationName);


                                    if (stationName.includes("CT")) {
                                        var contentString;
                                        if (model.Value > 0)
                                            contentString = '<h2>Cholorination On</h2>';
                                        else {
                                            contentString = '<h2>Cholorination Off</h2>';
                                        }
                                        drawChart(z2marker, contentString);
                                    } else {
                                        contentString = '<div><h2>' + stationName.trim() + '</h2><hr>' + '<p>Current value = ' + model.Value + ' <strong>' + model.Unit + '</strong></p></div>';
                                        //drawSensorData(z2marker, stationName.trim(), model.Value, model.Unit);
                                        drawChart(z2marker, contentString);
                                    }
                                }

                            },
                            error: function () { }
                        });
                    }

                }
            });

            function drawChart(marker, content) {

                var infowindow2 = new google.maps.InfoWindow({
                    content: content
                });

                infowindow2.open(marker.getMap(), marker);
            }
        }
    </script>

    @RenderSection("Scripts", required: false)


</body>

</html>