@using NakedObjects.Facade.Utility;
@using NakedObjects.Web.Mvc.Html
@using AplombTech.WMS.QueryModel.Reports
@model ScadaMap

<div id="body">

    <section class="main-content">
        @(Html.TabbedHistory(Model))
        <br/>
        <div class="col-md-offset-1">
            <p id="selectedZone" style="display: none;">1</p>
            <p id="selectedDma" style="display: none;">2</p>
            <p id="selectedPumpStation" style="display: none;">3</p>
            @Html.DropDownListFor(model => model.SelectedZoneId, new SelectList(
                Model.Zones,
                "AreaID",
                "Name",
                Model.SelectedZoneId), "Select Zone", new {@onchange = "LoadDma(this.value)"})

            @Html.DropDownListFor(model => model.SelectedDmaId, new SelectList(
                Enumerable.Empty<SelectListItem>(),
                "AreaID",
                "Name",
                Model.SelectedDmaId), "Select Dma", new {@onchange = "LoadPumpStation(this.value)"})
            @Html.DropDownListFor(model => model.SelectedPumpStationId, new SelectList(
                Enumerable.Empty<SelectListItem>(),
                "AreaID",
                "Name",
                Model.SelectedPumpStationId), "Select Pumpstation")
            @*@Html.Partial("~/Views/ScadaMap/ScadaMap.cshtml", Model)*@

            <input type="submit" value="Show" onclick="showScada()" class="btn btn-default"/>

            <div id="searchResults"></div>
            @Scripts.Render("~/bundles/scadamap")
            <script>
                var zoneId = $('#selectedZone').text();
                var dmaId = $('#selectedDma').text();
                var pumpStationId = $('#selectedPumpStation').text();
                if (dmaId && pumpStationId) {
                    $("#SelectedZoneId").val("1").trigger('change');
                    //$("#SelectedDmaId").val("2");
                    //console.log($("#SelectedDmaId").val("2").trigger('change'));
                    //alert($("#SelectedDmaId").val());
                    //$("#SelectedPumpStationId").val("3").trigger('change');;
                    //showScada();
                }
            </script>
        </div>
    </section>
</div>




