@using AplombTech.WMS.QueryModel.Reports
@using AplombTech.WMS.QueryModel.Sensors
@model List<AplombTech.WMS.QueryModel.Sensors.Sensor>
<style>
    .img {
        height: "800px";
        width: "640px";
        margin-top: 20px;
    }

    #imgContainer {
        position: relative;
    }
</style>
<div id="imgContainer">
    <img src="../../Images/scadamap.png" class="img" alt="Scada map">
    <div style="margin-left: 110px; position: absolute; margin-top: -320px;">
        <h4>General Information</h4>
        @foreach (var sensor in Model)
        {
            if (@sensor is ChlorinationSensor)
            {
                if (@sensor.CurrentValue <= 0)
                {
                    <p>Cholorination Off</p>
                }
                else
                {
                    <p>Cholorination On</p>
                }
            }

            if (@sensor is EnergySensor)
            {
                <p>ET = @sensor.CurrentValue kw/h</p>
            }

        }
    </div>

    <div style="margin-left: 220px; position: absolute; margin-top: -620px;">
        @foreach (var sensor in Model)
        {
            if (@sensor is PressureSensor)
            {
                <p>PT = @sensor.CurrentValue Bar</p>
            }
        }
    </div>

    <div style="margin-left: 660px; position: absolute; margin-top: -250px;">
        @foreach (var sensor in Model)
        {
            if (@sensor is LevelSensor)
            {
                <p>LT = @sensor.CurrentValue Metre</p>
            }
        }
    </div>

    <div style="margin-left: 400px; position: absolute; margin-top: -620px;">
        @foreach (var sensor in Model)
        {
            if (@sensor is FlowSensor)
            {
                <p>FT = @sensor.CurrentValue Metre</p>
            }
        }
    </div>
</div>
