@model AplombTech.DWasa.Entity.ReportEntity

@{
    ViewBag.Title = "Show";
    var days = new List<SelectListItem>();
    for (var i = 1; i <= 31; i++)
    {
        days.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString(), Selected = Model.Day == i });
    }
    var years = new List<SelectListItem>();
    for (var i = 2016; i <= 2019; i++)
    {
        years.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString(), Selected = Model.Year == i });
    }

    var weeks = new List<SelectListItem>();
    for (var i = 1; i <= 52; i++)
    {
        weeks.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString(), Selected = Model.Week == i });
    }

    var hours = new List<SelectListItem>();
    for (var i = 1; i <= 24; i++)
    {
        hours.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString(), Selected = Model.Hour == i });
    }
}



<h2>Show</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.PumpStation.PumpStationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PumpStation.PumpStationId, new SelectList(
                    Model.PumpStation.PumpStationList,
                    "Id",
                    "Name",
                    Model.PumpStation.PumpStationId), "Please Select", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.PumpStation.PumpStationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SensorType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.SensorType, "- Please select -", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.SensorType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.ReportType, "- Please select -", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="inputPanel">
            <div class="form-group" id="yr">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Year, years, "Please Select", new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="form-group" id="mth">
                @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(m => m.Month, "- Please select -", new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" id="wk">
                @Html.LabelFor(model => model.Week, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Week, weeks, "Please Select", new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="form-group" id="dy">
                @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Day, days, "Please Select", new { @class = "control-label col-md-2" })
                </div>
            </div>

            <div class="form-group" id="hr">
                @Html.LabelFor(model => model.Hour, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Hour, hours, "Please Select", new { @class = "control-label col-md-2" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="show" value="Show" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
</div>
<div id="chart_div"></div>

@section Scripts {

    
<script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="~/Scripts/Report.js"></script>





}
